<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File uploaded</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/mycss.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
    <style>
    .w3-lato {
      font-family: 'Lato', sans-serif;
    }
    .rightAbsolute {
        position: absolute;
        right: 0%;
    }

    .botRelative {
        position: relative;
        bottom: 0%;
        width: 100%;
    }

    .topRelative {
        position: relative;
        top: 0%;
        width: 100%;
    }
    .center-alignment {
        text-align: center;
    }

    </style>
</head>

<body class="w3-lato">
<h1 class="w3-lato center-alignment" style="align-content: center;">Sorry! Your request can not be completed (500)</h1>
<div class="center-alignment">
    <button class="w3-btn w3-blue w3-lato center-alignment" onclick="goBack()">Go back</button>

    <script>
    function goBack() {
        window.history.back();
    }
    </script>
</div>
</body>
</html>