<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CMS Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/mycss.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
    .w3-lato {
      font-family: 'Lato', sans-serif;
    }
    .rightAbsolute {
        position: absolute;
        right: 0%;
    }

    .botRelative {
        position: absolute;
        bottom: 0%;
        width: 100%;
    }

    .topRelative {
        position: relative;
        top: 0%;
        width: 100%;
    }

    </style>
</head>

<body>

</body>
</html>