<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>CMS Lecture</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/mycss.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
    .w3-lato {
      font-family: 'Lato', sans-serif;
    }
    .rightAbsolute {
        position: absolute;
        right: 0%;
    }

    .botRelative {
        position: relative;
        bottom: 0%;
        width: 100%;
    }

    .topRelative {
        position: relative;
        top: 0%;
        width: 100%;
    }

    </style>
</head>

<body class="w3-lato">

<!-- Brand -->
<header class= "w3-lato w3-row" style="margin-left: 40px; margin-bottom: 5px; margin-top: 20px">
    <span class="w3-navbar w3-blue w3-xlarge" style="padding-bottom: 10px; padding-top: 10px; padding-left: 10px; padding-right: 10px; text-align: center">
            <a href="/index">Python for Everyone</a>
    </span>
    <!-- Log out button-->
    <a class="rightAbsolute w3-btn w3-black" style="margin-top: 10px" href="/"> Log out</a>
</header>

<div class="w3-row">
<div class="w3-col w3-container l7 w3-border-blue w3-topbar">
    <header class="w3-container" style="padding-top: -20px; margin-left: 14px; margin-top: -6px">
        <h1 class="w3-lato w3-text-blue">{{ lecture.title }}</h1>

        <!-- Brief card-->
        <div class="w3-card w3-hover-shadow" style="margin-top: 40px">
            <header class="w3-container w3-grey w3-hover-blue">
                <h6 class="w3-lato">Brief
                    <span>
                        <i onclick="document.getElementById('id01').style.display='block'" class="w3-right material-icons w3-small"
                           style="font-size:24px">mode_edit</i>
                    </span>
                    <div id="id01" class="w3-modal">
                      <div class="w3-modal-content">
                        <div class="w3-container">
                          <span onclick="document.getElementById('id01').style.display='none'" class="w3-closebtn">&times;</span>
                          <form action = "" method="post" class="w3-card w3-round w3-white w3-padding" style="margin-top: 200px; margin-bottom: 165px">
                              <p class="w3-lato">
                                  <label class="w3-lato w3-text-blue">Update</label>
                                  <input class="w3-input" type="text" name="update">
                              </p>
                              <button type="submit" class="w3-btn w3-blue" style="margin-left: 160px;" value="Submit">Submit</button>
                          </form>
                        </div>
                      </div>
                    </div>
                </h6>
            </header>
            <div class="w3-container">
              {% for brief in lecture.brief %}
                <li>
                {{ brief }}
                </li>
                {%  endfor %}
            </div>
        </div>

        <!-- Document card-->
        <div class="w3-card w3-hover-shadow" style="margin-top: 40px">
            <header class="w3-container w3-grey w3-hover-blue">
              <h6 class="w3-lato">Documents</h6>
            </header>
            <div class="w3-container">
                {% for document in lecture.document %}
                <li>
                        <a href="{{ document["link"] }}"> {{ document["name"] }}</a>
                </li>
                {% endfor %}
            </div>
        </div>

        <!-- Assignment card-->
        <div class="w3-card w3-hover-shadow" style="margin-top: 40px">
            <header class="w3-container w3-grey w3-hover-blue">
              <h6 class="w3-lato">Assignments</h6>
            </header>
        <div class="w3-container">
            {% for assignment in lecture.assignment %}
            <li>
                <a href="{{ assignment["link"] }}"> {{ assignment["name"] }}</a>
            </li>
            {% endfor %}

            <!-- Upload file -->
            <form class="w3-container" style="margin-top: 10px; margin-bottom: 10px" id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
                <input type="file" name ="file" accept="*" multiple>
                <input class="w3-btn w3-blue" type="submit" value="Submit">
{#                    <!-- Trigger/Open the Modal -->#}
{#                    <input onclick="document.getElementById('id01').style.display='block'"#}
{#                    class="w3-btn w3-blue" type="submit" value="send" ></input>#}
{##}
{#                    <!-- The Modal -->#}
{#                    <div id="id01" class="w3-modal">#}
{#                      <div class="w3-modal-content">#}
{#                        <div class="w3-container">#}
{#                          <span onclick="document.getElementById('id01').style.display='none'"#}
{#                          class="w3-closebtn">&times;</span>#}
{#                          <p>File uploaded</p>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div>#}
            </form>
        </div>
    </div>
    </header>
</div>

<!-- Lecture right side bar -->
<div class="w3-rest w3-container w3-topbar w3-border-black">
 <ul class="w3-ul" style="padding-top: 12px; margin-left: -16px">
    <nav class="w3-sidenav w3-white topRelative" style="width:100%; height: 50%; margin-top: 7%">
        {% for lecture in lecture_list %}
            <a href="/{{ lecture.href }}" class="w3-hover-blue"> {{ lecture.title }}</a>
        {% endfor %}
    </nav>
 </ul>
</div>
</div>

<footer class="w3-lato w3-grey w3-container w3-theme-d1 w3-center" style="margin-top: 150px">
    <h6 class="w3-lato">Copyright 2016 C4E3 Team 3 </h6>
    <img src="http://techkids.edu.vn/wp-content/uploads/2015/08/Psd.png" style="width: 200px;">
</footer>

</body>

</html>